<%= form_with model:quote do |f| %>
  <% if quote.errors.any? %>
    <div>
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.text_field :name, input_html: { autofocus: true, placeholder: :name } %>
  <%= link_to "Cancel", quotes_path %>
  <%= f.submit %>
<% end %>